html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Amble';
  src: url("../fonts/Amble-Bold.ttf") url("../fonts/Amble-Boldltalic.ttf") url("../fonts/Amle-ltalic.ttf") url("../fonts/Amble-Light.ttf") url("../fonts/Amble-LightCondensed.ttf") url("../fonts/Amble-LightCondensedltalic.ttf") url("../fonts/Amble-Lightltalic.ttf") url("../fonts/Amble-Regular.ttf"); }

@font-face {
  font-family: 'BIG JOHN';
  src: url("../fonts/BIG JOHN.otf") url("../fonts/Slim Joe.otf") url("../fonts/befonts.com.url") url("../fonts/Apache LLicense.txt"); }

.main-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e39147+1,e39147+99&1+0,0.8+0 */
  background: -moz-linear-gradient(top, rgba(227, 145, 71, 0.8) 0%, rgba(227, 145, 71, 0.8) 1%, rgba(227, 145, 71, 0.8) 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(227, 145, 71, 0.8) 0%, rgba(227, 145, 71, 0.8) 1%, rgba(227, 145, 71, 0.8) 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(227, 145, 71, 0.8) 0%, rgba(227, 145, 71, 0.8) 1%, rgba(227, 145, 71, 0.8) 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce39147', endColorstr='#cce39147',GradientType=0 );
  /* IE6-9 */
  position: fixed;
  z-index: 10; }
  .main-header .container .text-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.5% 0;
    color: white;
    text-transform: uppercase; }
    .main-header .container .text-header h1 {
      font-size: 190%; }
    .main-header .container .text-header .meniu {
      list-style: none; }
      .main-header .container .text-header .meniu li {
        padding-left: 15px;
        display: inline-block;
        color: white;
        font-size: 120%; }
        .main-header .container .text-header .meniu li a {
          color: white;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .main-header .container .text-header .meniu li a:hover {
          color: #222222;
          text-decoration: none; }

.main-banner .banner-img {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .main-banner .banner-img img {
    width: 100%;
    height: 100vh;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }

.main-banner .banner-section {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e39147+39,991d1d+63&0.8+1,0.8+100 */
  background: -moz-linear-gradient(left, rgba(227, 145, 71, 0.8) 1%, rgba(227, 145, 71, 0.8) 39%, rgba(153, 29, 29, 0.8) 63%, rgba(153, 29, 29, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(227, 145, 71, 0.8) 1%, rgba(227, 145, 71, 0.8) 39%, rgba(153, 29, 29, 0.8) 63%, rgba(153, 29, 29, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(227, 145, 71, 0.8) 1%, rgba(227, 145, 71, 0.8) 39%, rgba(153, 29, 29, 0.8) 63%, rgba(153, 29, 29, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce39147', endColorstr='#cc991d1d',GradientType=1 );
  /* IE6-9 */ }
  .main-banner .banner-section .container .header {
    padding-top: 110px; }
    .main-banner .banner-section .container .header h1 {
      text-transform: uppercase;
      font-size: 280%;
      padding-top: 7%;
      color: white;
      font-weight: bold; }
  .main-banner .banner-section .container .hr-banner {
    width: 100px;
    background-color: white;
    height: 3px;
    align-self: center;
    margin-left: 45%;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 24px; }
  .main-banner .banner-section .container p {
    align-self: center;
    padding: 4% 20%;
    color: white;
    font-size: 120%; }

.intro {
  padding: 30px 0px; }
  .intro .container .header h1 {
    text-transform: uppercase;
    font-size: 200%;
    padding-top: 5.5%;
    color: #222222;
    font-weight: bold; }
  .intro .container p {
    align-self: center;
    padding: 8% 20%;
    color: #A7A7A7;
    font-size: 135%; }

.pure {
  position: relative; }
  .pure .cont {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden; }
    .pure .cont img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .pure .pure-text {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0; }
    .pure .pure-text .btn {
      position: absolute;
      top: 220px;
      left: 50%;
      padding: 20px 100px;
      border: 2px solid white;
      color: white;
      font-size: 32px;
      transform: translateX(-50%); }
    .pure .pure-text .btn:hover {
      background-color: white;
      color: black; }

.work .container .work-header h1 {
  color: #222222;
  font-size: 32px;
  padding: 50px 0px 20px 0px;
  text-transform: uppercase;
  font-weight: bold; }

.work .container .work-nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 24px;
  padding: 2%;
  text-transform: uppercase;
  margin-bottom: 20px; }
  .work .container .work-nav ul li a {
    color: #A7A7A7;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .work .container .work-nav ul li a:hover {
    color: #222222;
    text-decoration: none; }

.work .container .work-nav ul .workli {
  font-weight: bold;
  color: black; }

.work .container .imghv {
  transition: 0.3s;
  position: relative; }
  .work .container .imghv:hover .imghover {
    display: block; }
  .work .container .imghv .imgcls {
    overflow: hidden;
    position: relative;
    height: 420px; }
    .work .container .imghv .imgcls img {
      position: absolute;
      transform: translate(-50%, -50%);
      height: 100%;
      width: auto;
      padding-bottom: 20px;
      top: 50%;
      left: 50%; }
  .work .container .imghv .imghover {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; }
    .work .container .imghv .imghover h2 {
      text-align: center;
      color: white;
      font-size: 23px;
      padding-top: 30%;
      font-weight: bold; }
    .work .container .imghv .imghover h1 {
      text-align: center;
      color: white;
      font-size: 35px;
      padding-top: 10%;
      text-transform: capitalize; }
    .work .container .imghv .imghover .hr-work {
      width: 80px;
      background-color: #FF8215;
      height: 2px;
      align-self: center;
      margin-top: 70px;
      transform: translateX(155%); }

.images-button .btn1 {
  background-color: white;
  text-decoration: none;
  font-size: 24px;
  color: #222222;
  border: 1px solid #222222;
  display: inline-block;
  padding: 10px 40px;
  text-transform: uppercase;
  border-style: outset;
  margin-bottom: 7%;
  margin-top: 3%;
  transition: 0.3s; }

.images-button .btn1:hover {
  background-color: #332C2C;
  color: white; }

.hr {
  width: 100px;
  background-color: #222222;
  height: 3px;
  align-self: center;
  margin-top: 70px;
  top: 70px;
  transform: translateX(500%);
  margin-bottom: 4.5%; }

.help {
  position: relative; }
  .help .cont {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden; }
    .help .cont img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .help .help-text {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0; }
    .help .help-text .btn {
      position: absolute;
      top: 220px;
      left: 50%;
      padding: 20px 100px;
      border: 2px solid white;
      color: white;
      font-size: 32px;
      transform: translateX(-50%); }
    .help .help-text .btn:hover {
      background-color: white;
      color: black; }

.clients {
  background-color: #F4F4F4; }
  .clients .container .client-header h1 {
    color: #222222;
    font-size: 32px;
    padding: 8% 0% 5% 0%;
    text-transform: uppercase;
    font-weight: bold; }

.icons {
  padding-left: 8.8%;
  padding-top: 5%;
  padding-bottom: 6%; }
  .icons img {
    padding-left: 3%;
    width: 17%; }
    .icons img:hover {
      transform: scale(0.8); }

.about-us {
  padding: 30px 0px; }
  .about-us .container .header h1 {
    text-transform: uppercase;
    font-size: 200%;
    padding-top: 5.5%;
    color: #222222;
    font-weight: bold; }
  .about-us .container p {
    align-self: center;
    padding: 5% 20%;
    color: #A7A7A7;
    font-size: 125%; }
  .about-us .container .row .imghv {
    transition: 0.3s;
    position: relative; }
    .about-us .container .row .imghv:hover .imghover {
      display: block; }
    .about-us .container .row .imghv .imgcls {
      overflow: hidden;
      position: relative;
      height: 420px; }
      .about-us .container .row .imghv .imgcls img {
        position: absolute;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
        padding-bottom: 20px;
        top: 50%;
        left: 50%; }
    .about-us .container .row .imghv .imghover {
      position: absolute;
      top: 0%;
      width: 100%;
      height: 100%;
      background-color: rgba(32, 25, 25, 0.5);
      display: none;
      text-align: center;
      color: #F2C49A;
      padding-top: 50%; }
      .about-us .container .row .imghv .imghover h1 {
        padding-top: 60%;
        font-size: 30px;
        font-family: initial;
        text-transform: capitalize; }
      .about-us .container .row .imghv .imghover h2 {
        font-size: 25px;
        text-transform: unset; }

.video iframe {
  width: 100%;
  height: 520px; }

.why-us {
  padding: 30px 0px; }
  .why-us .container .header h1 {
    text-transform: uppercase;
    font-size: 230%;
    padding-top: 6%;
    color: #222222;
    font-weight: bold; }
  .why-us .container p {
    align-self: center;
    padding: 6% 20%;
    color: #A7A7A7;
    font-size: 150%; }
  .why-us .container .article-container {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    flex-wrap: wrap; }
  .why-us .container .article-container .article-item .article-text {
    font-family: 'Ubuntu';
    color: #B4AD9E;
    width: 100%;
    font-size: 14pt;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    color: #626262;
    text-transform: uppercase; }
  .why-us .container .article-container .article-item .article-text1 {
    font-family: 'Playfair Display';
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
    color: #626262;
    padding-bottom: 20px;
    padding-top: 35px; }
  .why-us .container .article-container .article-item .article-text2 {
    font-family: 'Playfair Display';
    width: 100%;
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
    color: #626262;
    display: inline-block;
    margin-bottom: 100px; }

.news-header .article-container .article-item .article-image {
  height: 30%; }

.quote-text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0; }
  .quote-text .btn {
    position: absolute;
    top: 220px;
    left: 43%;
    padding: 20px 100px;
    border: 2px solid white;
    color: white;
    font-size: 32px; }
  .quote-text .btn:hover {
    background-color: white;
    color: black; }

.quote {
  position: relative; }
  .quote .cont {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden; }
    .quote .cont img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .quote .quote-text {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0; }
    .quote .quote-text .btn {
      position: absolute;
      top: 220px;
      left: 50%;
      padding: 20px 100px;
      border: 2px solid white;
      color: white;
      font-size: 32px;
      transform: translateX(-50%); }
    .quote .quote-text .btn:hover {
      background-color: white;
      color: black; }

.touch {
  padding: 30px 0px; }
  .touch .container .header h1 {
    text-transform: uppercase;
    font-size: 200%;
    padding-top: 8%;
    color: #222222;
    font-weight: bold; }
  .touch .container p {
    align-self: center;
    padding: 8% 20%;
    color: #222222;
    font-size: 135%; }

.location {
  background-color: #F2F2F2; }
  .location .text-loc {
    padding: 7% 45%; }
    .location .text-loc .header h1 {
      text-transform: uppercase;
      color: #222222;
      font-weight: bold;
      margin-bottom: 12%;
      font-size: 104%;
      margin-left: -3%; }
    .location .text-loc .navigation {
      margin-left: -3%; }
    .location .text-loc .icn img {
      width: 16px;
      height: 19px;
      margin: 10% 0%; }

.end {
  background-color: #222222; }
  .end .container h1 {
    color: white;
    padding: 5% 30%;
    font-size: 140%; }
