@font-face{
    font-family: 'Amble';
    src: url("../fonts/Amble-Bold.ttf")
         url("../fonts/Amble-Boldltalic.ttf")
         url("../fonts/Amle-ltalic.ttf")
         url("../fonts/Amble-Light.ttf")
         url("../fonts/Amble-LightCondensed.ttf")
         url("../fonts/Amble-LightCondensedltalic.ttf")
         url("../fonts/Amble-Lightltalic.ttf")
         url("../fonts/Amble-Regular.ttf")
}
@font-face{
    font-family: 'BIG JOHN';
    src: url("../fonts/BIG JOHN.otf")
         url("../fonts/Slim Joe.otf")
         url("../fonts/befonts.com.url")
         url("../fonts/Apache LLicense.txt")
         
}