@import 'reset.scss';
@import 'fonts.scss';
.navbar{
    background-color: #000000;
}
.logo{
    width: 8%;
    height: 10%;
    padding-left: 1%;
    padding-top: 1%;
}
.text{
    margin-left: 25%;
    font-size: 100%;
    height: 160px;
    vertical-align: middle;
   color:white;
   
}
.headerbckgr{
    opacity: 50%;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e39147+0,e39147+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(227,145,71,1) 0%, rgba(227,145,71,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(227,145,71,1) 0%,rgba(227,145,71,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(227,145,71,1) 0%,rgba(227,145,71,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e39147', endColorstr='#00e39147',GradientType=0 ); /* IE6-9 */

}
.main-banner{
    img{
    width: 100%;
    }
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e39147+1,c6584d+99&1+0,0.8+100 */
background: -moz-linear-gradient(top, rgba(227,145,71,1) 0%, rgba(227,145,71,1) 1%, rgba(198,88,77,0.8) 99%, rgba(198,88,77,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(227,145,71,1) 0%,rgba(227,145,71,1) 1%,rgba(198,88,77,0.8) 99%,rgba(198,88,77,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(227,145,71,1) 0%,rgba(227,145,71,1) 1%,rgba(198,88,77,0.8) 99%,rgba(198,88,77,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e39147', endColorstr='#ccc6584d',GradientType=0 ); /* IE6-9 */
}

.intro{
    padding: 30px 0px;
    .container{
        .header{
            h1{
                text-transform: uppercase;
                font-size: 250%;
                padding-top: 8%;
                color: #222222;
                font-weight: bold;
            }
        }

        p{
            align-self: center;
            padding: 8% 20%;
            color:#A7A7A7;
            font-size: 180%;
        }
    }
}

.pure{
    position: relative;
    img{
    width: 100%;
    height: 510px;
    }
    .pure-text{
       .btn{
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 20px 90px;
            transform: translate(-50% ,-50%);
            border: 2px solid white;
            color: white;
            font-size: 32px;
            transition: 0.3s;
        }
        .btn:hover {
            background-color: white;
            color:black;
          }
    }
}

.work{
    .container{
        .work-header{
            h1{
                color: #222222;
                font-size: 32px;
                padding: 50px 0px 20px 0px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .work-nav{

            ul{ 
                li{
                display: inline-block;
                list-style: none;
                font-size: 24px;
                padding: 2%;
                text-transform: uppercase;
                margin-bottom: 20px;
                color:#A7A7A7;
                }
                .workli{
                    font-weight: bold;
                    color:black;
                }
            }
        }
        .image-container{
            .imghv{
                transition: 0.3s;
                position: relative;
                &:hover{
                    .imghover{
                        display: block;
                        
                    }
                }
            .imgcls{
                overflow: hidden;
                position: relative;
                height: 420px;

                    img{
                        position: absolute;
                        transform: translate(-50% ,-50%);
                        height:100%;
                        width: auto;
                        padding-bottom: 20px;
                    }
           }
           .imghover{
            position: absolute;
            top:0%;
            width: 100%;
            height: 100%;
            background-color:rgba(#000000, 0.5);
            display:none;
           }
        }
        }
    }
    .images-button{
        .btn1{
            background-color: white;
            text-decoration: none;
            font-size: 24px;
            color: #222222;
            border: 1px solid #222222;
            display: inline-block;
            padding: 10px 40px;  
            text-transform: uppercase;
            border-style: outset;
            margin-bottom: 7%;   
            margin-top: 3%;   
            transition: 0.3s;      
        }
        .btn1:hover {
            background-color:black;
            color:white;
          }
    }
}

.hr    {
            width:100px;
            background-color: #222222;
            height: 3px;
            align-self: center;
            margin-left: 45%;
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 24px;

}
.help{
    position: relative;
    img{
    width: 100%;
    height: 500px;
    }
    .help-text{
           .btn{
            position: absolute;
            top: 220px;
            left: 43%;
            padding: 20px 100px;
            border: 2px solid white;
            color: white;
            font-size: 32px;
        }
        .btn:hover {
            background-color: white;
            color:black;
          }
    }
}
.clients{ 
    background-color: #F4F4F4;
    .container{
        .client-header{
            h1{
                color: #222222;
                font-size: 32px;
                padding: 8% 0% 5% 0%;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}
.icons{
    padding-left: 8.8% ;
    padding-top:5%;
    padding-bottom: 6%;
    img{
        padding-left: 3%;
        width: 17%;
        
    }
}
.about-us{
    padding: 30px 0px;
    .container{
        .header{
            h1{
                text-transform: uppercase;
                font-size: 250%;
                padding-top: 8%;
                color: #222222;
                font-weight: bold;
            }
        }

        p{
            align-self: center;
            padding: 8% 20%;
            color:#A7A7A7;
            font-size: 180%;
        }

        .imgabout{
            img{
                padding: 10px;
                width: 270px;
                height: 350px;
            }
        }

    }
}


.video{
    iframe{
        width: 100%;
        height: 520px;
    }
}


.why-us{
    padding: 30px 0px;
    .container{
        .header{
            h1{
                text-transform: uppercase;
                font-size: 250%;
                padding-top: 8%;
                color: #222222;
                font-weight: bold;
            }
        }

        p{
            align-self: center;
            padding: 8% 20%;
            color:#A7A7A7;
            font-size: 180%;
        }

         .article-container{
            display: flex;
            justify-content: space-between;
            margin-top:34px;
            flex-wrap:wrap; 
        }
        
         .article-container .article-item .article-text{
            font-family: 'Ubuntu';
            color: #B4AD9E;
            width:100%;
            font-size:14pt;
            padding: 20px;
            position: relative;
            box-sizing:border-box;
            color: #626262;
            text-transform: uppercase;
        }
        
         .article-container .article-item .article-text1{
            font-family: 'Playfair Display';
            width:100%;
            font-size:30px;
            box-sizing:border-box;
            color: #626262;
            padding: 30px 0px;
        }
        
         .article-container .article-item .article-text2{
            font-family: 'Playfair Display';
            width:100%;
            font-size:14px;
            padding: 20px;
            box-sizing:border-box;
            color: #626262;
            display: inline-block;
            margin-bottom: 100px;
        }
        
    }
}