@import 'reset.scss';
@import 'fonts.scss';

.main-header{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e39147+1,e39147+99&1+0,0.8+0 */
background: -moz-linear-gradient(top, rgba(227,145,71,0.8) 0%, rgba(227,145,71,0.8) 1%, rgba(227,145,71,0.8) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(227,145,71,0.8) 0%,rgba(227,145,71,0.8) 1%,rgba(227,145,71,0.8) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(227,145,71,0.8) 0%,rgba(227,145,71,0.8) 1%,rgba(227,145,71,0.8) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce39147', endColorstr='#cce39147',GradientType=0 ); /* IE6-9 */
    position: fixed;
    z-index: 10;
    .container{
        .text-header{
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 1.5% 0;
            color: white;
            text-transform: uppercase;
             h1{
                 font-size:190% ;
             }
             .meniu{
                list-style: none;
              li{
                  padding-left: 15px;
                  display: inline-block;
                  color: white;
                  font-size:120% ;
                  a{
                      color: white;
                      -webkit-transition: 0.3s;
                      -moz-transition: 0.3s;
                      -o-transition: 0.3s;
                       transition: 0.3s;
                  }
                  a:hover{
                      color: #222222;
                      text-decoration: none;
                  }
              }
            }
        }
    }
}
  
.main-banner{
  .banner-img{
      
     height: 100vh;
     width: 100%;
     position: relative;
     overflow: hidden;
        img{
         width: 100%;
         height: 100vh;
         position: absolute;
         transform: translate(-50%,-50%);
         top:50%;
         left:50%;
         

        }
  }
  .banner-section{
      height: 100%;
      width: 100%;
      position: absolute;
      top:0;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e39147+39,991d1d+63&0.8+1,0.8+100 */
background: -moz-linear-gradient(left, rgba(227,145,71,0.8) 1%, rgba(227,145,71,0.8) 39%, rgba(153,29,29,0.8) 63%, rgba(153,29,29,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(227,145,71,0.8) 1%,rgba(227,145,71,0.8) 39%,rgba(153,29,29,0.8) 63%,rgba(153,29,29,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(227,145,71,0.8) 1%,rgba(227,145,71,0.8) 39%,rgba(153,29,29,0.8) 63%,rgba(153,29,29,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce39147', endColorstr='#cc991d1d',GradientType=1 ); /* IE6-9 */
  .container{
        .header{
            padding-top:110px;
            h1{
                text-transform: uppercase;
                font-size: 280%;
                padding-top: 7%;
                color: white;
                font-weight: bold;
            }
        }
     .hr-banner{
        width:100px;
        background-color: white;
        height: 3px;
        align-self: center;
        margin-left: 45%;
        margin-top: 70px;
        margin-bottom: 30px;
        font-size: 24px;
    

     }
        p{
            align-self: center;
            padding: 4% 20%;
            color:white;
            font-size: 120%;
        }
    }
}
}


.intro{
    padding: 30px 0px;
    .container{
        .header{
            h1{
                text-transform: uppercase;
                font-size: 200%;
                padding-top: 5.5%;
                color: #222222;
                font-weight: bold;
            }
        }

        p{
            align-self: center;
            padding: 8% 20%;
            color:#A7A7A7;
            font-size: 135%;
        }
    }
}

.pure{
    position: relative;
    .cont{
        position: relative;
        width: 100%;
        height:500px;
        overflow: hidden;
    img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    }
}

    .pure-text{
        width: 100%;
        height: 100%;
        background-color: rgba( #000000,  0.3);
        position: absolute;
        top: 0;
           .btn{
            position: absolute;
            top: 220px;
            left: 50%;
            padding: 20px 100px;
            border: 2px solid white;
            color: white;
            font-size: 32px;
            transform: translateX(-50%);
        }
        .btn:hover {
            background-color: white;
            color:black;
          }
    }
}

.work{
    .container{
        .work-header{
            h1{
                color: #222222;
                font-size: 32px;
                padding: 50px 0px 20px 0px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .work-nav{

            ul{ 
                li{
                display: inline-block;
                list-style: none;
                font-size: 24px;
                padding: 2%;
                text-transform: uppercase;
                margin-bottom: 20px;
                 a{
                    color:#A7A7A7;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                    -o-transition: 0.3s;
                     transition: 0.3s;
                    
                 }
                 a:hover{
                    color: #222222;
                    text-decoration: none;
                }
                }
                .workli{
                    font-weight: bold;
                    color:black;
                }
            }
        }
       
            .imghv{
                transition: 0.3s;
                position: relative;
                &:hover{
                    .imghover{
                        display: block;
                        
                    }
                }
            .imgcls{
                overflow: hidden;
                position: relative;
                height: 420px;

                    img{
                        position: absolute;
                        transform: translate(-50% ,-50%);
                        height:100%;
                        width: auto;
                        padding-bottom: 20px;
                        top: 50%;
                        left: 50%;
                    }
           }
           .imghover{
            position: absolute;
            top:0%;
            width: 100%;
            height: 100%;
            background-color:rgba(#000000, 0.5);
            display:none;
            
            
            h2{
                text-align: center;
                color: white;
                font-size: 23px;
                padding-top: 30%;
                font-weight: bold;
            }
            h1{
                text-align: center;
                color: white;
                font-size: 35px;
                padding-top: 10%;
                text-transform: capitalize;
            
            }
            .hr-work{
                width:80px;
                background-color: #FF8215;
                height: 2px;
                align-self: center;
                margin-top: 70px;
                transform: translateX(155%);
    }
           }
        }
        }
    }
    .images-button{
        .btn1{
            background-color: white;
            text-decoration: none;
            font-size: 24px;
            color: #222222;
            border: 1px solid #222222;
            display: inline-block;
            padding: 10px 40px;  
            text-transform: uppercase;
            border-style: outset;
            margin-bottom: 7%;   
            margin-top: 3%;   
            transition: 0.3s;      
        }
        .btn1:hover {
            background-color: #332C2C;
            color:white;
          }
    }


.hr    {
            width:100px;
            background-color: #222222;
            height: 3px;
            align-self: center;
            margin-top: 70px;
            top:70px;
            transform: translateX(500%);
            margin-bottom: 4.5%;
}
.help{
    position: relative;
    .cont{
        position: relative;
        width: 100%;
        height:500px;
        overflow: hidden;
    img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    }
}

.help-text{
    width: 100%;
    height: 100%;
    background-color: rgba( #000000,  0.3);
    position: absolute;
    top: 0;
       .btn{
        position: absolute;
        top: 220px;
        left: 50%;
        padding: 20px 100px;
        border: 2px solid white;
        color: white;
        font-size: 32px;
        transform: translateX(-50%);
    }
    .btn:hover {
        background-color: white;
        color:black;
      }
   }
}

.clients {
    background-color: #F4F4F4;
    .container{
        .client-header{
            h1{
                color: #222222;
                font-size: 32px;
                padding: 8% 0% 5% 0%;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}
.icons{
    padding-left: 8.8% ;
    padding-top:5%;
    padding-bottom: 6%;
    img{
        padding-left: 3%;
        width: 17%;
        &:hover{
            transform: scale(0.8);
        }
        
    }
}
.about-us{
    padding: 30px 0px;
    .container{
        .header{
            h1{
                text-transform: uppercase;
                font-size: 200%;
                padding-top: 5.5%;
                color: #222222;
                font-weight: bold;
            }
        }

        p{
            align-self: center;
            padding: 5% 20%;
            color:#A7A7A7;
            font-size: 125%;
        }
          .row{
            .imghv{
                transition: 0.3s;
                position: relative;
                &:hover{
                    .imghover{
                        display: block;
                        
                    }
                }
            .imgcls{
                overflow: hidden;
                position: relative;
                height: 420px;

                    img{
                        position: absolute;
                        transform: translate(-50% ,-50%);
                        height:100%;
                        width: auto;
                        padding-bottom: 20px;
                        top: 50%;
                        left: 50%;
                      
                    }
           }
           .imghover{
            position: absolute;
            top:0%;
            width: 100%;
            height: 100%;
            background-color:rgba(#2019197e, 0.5);
            display:none;
            text-align: center;
            color: #F2C49A;
            padding-top: 50%;
          
             h1{
               padding-top: 60%;
               font-size: 30px;
               font-family: initial;
               text-transform: capitalize;               
            }
            h2{
                font-size: 25px;
                text-transform: unset; 
            }
           }
        }
        }
    }
          }


.video{
    iframe{
        width: 100%;
        height: 520px;
    }
}


.why-us{
    padding: 30px 0px;
    .container{
        .header{
            h1{
                text-transform: uppercase;
                font-size: 230%;
                padding-top: 6%;
                color: #222222;
                font-weight: bold;
            }
        }

        p{
            align-self: center;
            padding: 6% 20%;
            color:#A7A7A7;
            font-size: 150%;
        }

         .article-container{
            display: flex;
            justify-content: space-between;
            margin-top:34px;
            flex-wrap:wrap; 
        }
        
         .article-container .article-item .article-text{
            font-family: 'Ubuntu';
            color: #B4AD9E;
            width:100%;
            font-size:14pt;
            padding: 20px;
            position: relative;
            box-sizing:border-box;
            color: #626262;
            text-transform: uppercase;
        }
        
         .article-container .article-item .article-text1{
            font-family: 'Playfair Display';
            width:100%;
            font-size:30px;
            box-sizing:border-box;
            color: #626262;
            padding-bottom: 20px;
            padding-top: 35px;
        }
        
         .article-container .article-item .article-text2{
            font-family: 'Playfair Display';
            width:100%;
            font-size:14px;
            padding: 20px;
            box-sizing:border-box;
            color: #626262;
            display: inline-block;
            margin-bottom: 100px;
        }
        
    }
}
  .news-header{
      .article-container{
          .article-item{
            .article-image{
                height: 30%;
            }
          }
      }
  }
.quote-text{
    width: 100%;
    height: 100%;
    background-color: rgba( #000000,  0.3);
    position: absolute;
    top: 0;
       .btn{
        position: absolute;
        top: 220px;
        left: 43%;
        padding: 20px 100px;
        border: 2px solid white;
        color: white;
        font-size: 32px;
       
    }
    .btn:hover {
        background-color: white;
        color:black;
      }
}
.quote{
    position: relative;
    .cont{
        position: relative;
        width: 100%;
        height:500px;
        overflow: hidden;
    img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    }
}

    .quote-text{
        width: 100%;
        height: 100%;
        background-color: rgba( #000000,  0.3);
        position: absolute;
        top: 0;
           .btn{
            position: absolute;
            top: 220px;
            left: 50%;
            padding: 20px 100px;
            border: 2px solid white;
            color: white;
            font-size: 32px;
            transform: translateX(-50%);
        }
        .btn:hover {
            background-color: white;
            color:black;
          }
    }
}
.touch{
    padding: 30px 0px;
    .container{
        .header{
            h1{
                text-transform: uppercase;
                font-size: 200%;
                padding-top: 8%;
                color: #222222;
                font-weight: bold;
            }
        }

        p{
            align-self: center;
            padding: 8% 20%;
            color:#222222;
            font-size: 135%;
        }
    }
}
.location{ 
    background-color: #F2F2F2;
     .text-loc{     
         padding: 7% 45%;
         .header{
            h1{
                text-transform: uppercase;
                color: #222222;
                font-weight: bold;
                margin-bottom: 12%;
                font-size:104%;
                margin-left:-3%;
            }
         }
         .navigation{
             margin-left:-3%;
         }
         .icn{
             img{
                 width: 16px;
                 height: 19px;
                 margin: 10% 0%;
             }
         }
     }
    }
.end{
    background-color: #222222;
    .container{
       h1{
           color: white;
           padding: 5% 30%;
           font-size: 140%;
       }
    }
}